  
.benefits__list {
    display: flex;
    gap: 30px;
}

.benefits__icon-box {
   @include centeredFlex(flex);

    height: 120px;
    width: 270px;
    margin-bottom: 30px;

    background-color: var(--grey-background);
}

.benefits__item {
    flex-basis: 270px;
}

.benefits__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--titles-color);
}

.benefits__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--text-color);
}
